table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td  {
    border: 1px solid;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

thead {
    text-align: left;
    background-color: #d6d6d6;
}

.request {
    width: 20%;
}

.url, .method{
    width: 10%;
}

.req {
    width: 20%;
}

.res {
    width: 40%;
}

span {
    color:rgb(14, 14, 184);
}